@using HukSleva.ViewModels.BookController

@model BookViewModel

@if (!ViewBag.isFullView && Model != null)
{
<div style="height: 250px; width: 100%; border-top: solid 1px #313131; border-bottom: solid 1px #313131" class="d-flex">
    <div style="height: 100%; width: 20%;">
        <div style="margin-left: auto; margin-right: auto;">
            <img src="@Model.ImgSrc" style="max-height: 250px; max-width: 100%" />
        </div>
    </div>
    <div style="height: 100%; width: 70%" class="d-flex flex-column justify-content-center">
        <div>
            <a asp-action="GetBook" asp-controller="Books" asp-route-id="@Model.Id">
                @Model.Name
            </a>
        </div>
        <div>
            Рейтинг: @Model.Rating
        </div>
        <div>
            Автор: @Model.Author
        </div>
        <div>
            Проголосовало: @Model.NumRated;
        </div>
    </div>
</div>
}
else
{

}
